@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: #F9F7F7;
  --color-lighter: #DBE2EF;
  --color-dark: #3F72AF;
  --color-darker: #112D4E;

  --background: var(--color-light);
  --foreground: var(--color-darker);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark);
    --foreground: var(--color-lighter);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
